* {
    margin : 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
    border : 1px solid black;
    width  : fit-content;
    padding: 20px;
    margin : 140px auto;
}

h3 {
    text-align    : center;
    text-transform: capitalize;
    font-weight   : 500;
    border-bottom : 2px solid blue;
    margin-bottom : 20px;
}

.row {
    padding   : 5px 0;
    text-align: center;
}

input[type="text"] {
    height        : 20px;
    width         : 250px;
    padding       : 10px;
    letter-spacing: 1px;
    border        : 1px solid gray;
}

:focus-visible {
    outline: none;
}

button {
    padding         : 10px 30px;
    background-color: darkslateblue;
    color           : white;
    cursor          : pointer;
    border          : 1px solid darkslateblue;
    border-radius   : 6px;
    box-shadow      : 0 0 5px black;
}

button:active {
    scale: 0.9;
}

button:hover {
    background-color: transparent;
    color           : darkslateblue;
}

.msg {
    color    : red;
    font-size: 13px;
}

.error {
    border: 1px solid red !important;
}