header {
    background-color: lemonchiffon;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
}

li {
    padding: 10px;
}

a {
    color: black;
}

.search {
    display: flex;
}

input {
    height: 30px;
}

button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: 1px solid transparent;
}